@import "bootstrap-sprockets";
@import "bootstrap";



// General Styles

a {
  color: #000;
  transition: all .5s;
}

body {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
}

a:hover {
  color: #f8584e;
  text-decoration: none;
}
// Home Page
#url-holder {
  display: none;
}


// Show New URL Part
.jumbotron {
  margin-top: 2em;
  background-color: #E5E9EB;
}


.center-block {
  text-align: center;
}

.jumbotron a {
  font-size: 2em;
}

#original_url {
  font-size: 1em;
}


// Footer

.navbar-default {
  background-color: #E5E9EB;
  border-color: transparent;
}

.navbar-text {
  color: #49606B;
}
