@import "bootstrap-sprockets";
@import "bootstrap";



// General Styles

a {
  color: #000;
  transition: all .5s;
}

body {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
}

a:hover {
  color: #DE6736;
  text-decoration: none;
}

.container.center-block {
    margin-bottom: 4em;
}


// Home Page
#url-holder {
  display: none;
}


// Show New URL Part
.jumbotron {
  margin-top: 5em;
  background-color: transparent;
  color: #7BBC53;
  border: 1px solid #000;
  border-width: 1px 0;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.center-block {
  text-align: center;
}

.jumbotron a {
  font-size: 2em;
}

#original_url {
  font-size: 1em;
}

#url {
  color: #67C1EC;
}
// Footer

.navbar-default {
  background-color: #fff;
  border-color: #000;
}

.navbar-default .navbar-text {
  color: #000;
}

.glyphicon-star {
  color: #E6B90D;
}
// form
#form-wrap {
  margin-top: 4em;
}
#create-button {
  border: 3px solid #000;
  background-color: white;
  color: #000;
  border-width: 0 1px;
  width: 55%;
}
button {
  position: relative;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.15s ease-in;
}
#create-button:hover {
  color: #DE6736;
  width: 27%;
  border-color: #DE6736;
}

.form-control {
  border: 3px solid #000;
  border-width: 0 0 3px 0;
  box-shadow: none;
  transition: all .5s;
  color: #67C1EC;
  font-size: 3em;
  border-radius: 1px;
  text-align: center;
  height: auto;
  padding: 1px 12px;
}
.form-control:focus,
.form-control:active,
#create-button:hover .form-control {
  border-color: transparent;
  box-shadow: none;

}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
}
