@import "bootstrap-sprockets";
@import "bootstrap";


#url-holder {
  display: none;
}

.jumbotron {
  margin-top: 2em;
}


.center-block {
  text-align: center;
}

.jumbotron a {
  font-size: 2em;
}
